<table>
	<tr>
		<td>comment body</td>
		<td>user</td>
		<td>post</td>
	</tr>
	<% @comments.each do |comment| %>
	<tr>
		<td><%= link_to comment.body, comment_path(comment.id) %></td>
		<td><%= link_to comment.user.name, user_path(comment.user_id) %></td>
		<td><%= link_to comment.post.title, post_path(comment.post_id) %></td>
		<td><%= link_to "edit", edit_comment_path(comment.id) %></td>
		<td><%= button_to "destroy comment", comment, confirm: "you sure you want to do that man?", method: :delete %></td>
	</tr>
	<%end%>
</table>