<div class="error-msg">
	<% if @post.errors.any? %>
	<ul>
		<%@post.errors.full_messages.each.do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
	<% end %>
</div>

<%= form_for(@post) do |f| %>
	<div class="field">
		<p>title</p>
		<%= f.text_field :title%>
	</div>
	<div class="field">
		<p>body</p>
		<%= f.text_area :body%>
	</div>
	<div class="field">
		<p>category</p>
		<%= f.text_field :category%>
	</div>
	<div class="field">
		<%= f.hidden_field :user_id, :value => current_user.id%>
	</div>
	<div class="actions">
		<%= f.submit%>
	</div>
<% end %> 