<table>
	<tr>
		<td>title</td>
		<td>body</td>
		<td>category</td>
		<td>user</td>
	</tr>
	<% @posts.each do |post| %>
	<tr>
		<td><%= link_to post.title, post_path(post.id) %></td>
		<td><%= post.body %></td>
		<td><%= post.category %></td>
		<td><%= User.find(post.user_id).name unless post.user.nil?%></td>
		<td><%= link_to "edit", edit_post_path(post.id) %></td>
		<td><%= button_to "destroy post", post, confirm: "you sure you want to do that man?", method: :delete %></td>
	</tr>
	<%end%>
</table>