<%= form_for(@post) do |f| %>
	<div class="field">
		<p>title</p>
		<%= f.text_field :title%>
	</div>
	<div class="field">
		<p>body</p>
		<%= f.text_area :body%>
	</div>
	<div class="field">
		<p>category</p>
		<%= f.text_field :category%>
	</div>
	<div class="field">
		<p>user</p>
		<%= f.collection_select :user_id, User.all, :id, :name%>
	</div>
	<div class="actions">
		<%= f.submit%>
	</div>
<% end %> 