<!DOCTYPE html>
<html>
<head>
  <title>Cis196Spr14</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


	<div class="navbar">
		<ul class="nav">
			<li class='dropdown'><a class="nav-link" href="#">Users</a>
				<ul>
					<li><%= link_to "new user", new_user_path %></li>
					<li><%= link_to "all users", users_path %></li>
				</ul>
			</li>
			<li class='dropdown'><a class="nav-link" href="#">Posts</a>
				<ul>
					<li><%= link_to "new post", new_post_path %></li>
					<li><%= link_to "all posts", posts_path %></li>
				</ul>
			</li>
			<li class='dropdown'><a class="nav-link" href="#">Comments</a>
				<ul>
					<li><%= link_to "new comment", new_comment_path %></li>
					<li><%= link_to "all comments", comments_path %></li>
				</ul>
			</li>
		</ul>
	</div>

<div class="content">
	<%= yield %>
</div>
	

</body>
</html>
