<!DOCTYPE html>
<html>
<head>
  <title>Cis196Spr14</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


	<div class="navbar">
		<ul class="nav">
			<li class='dropdown'><a class="nav-link" href="#">Users</a>
				<ul>
					<li><%= link_to "all users", users_path %></li>
				</ul>
				
			</li>
			<li class='dropdown'><a class="nav-link" href="#">Posts</a>
				<ul>
					<li><%= link_to "new post", new_post_path %></li>
					<li><%= link_to "all posts", posts_path %></li>
				</ul>
			</li>
			<li class='dropdown'><a class="nav-link" href="#">Comments</a>
				<ul>
					<li><%= link_to "new comment", new_comment_path %></li>
					<li><%= link_to "all comments", comments_path %></li>
				</ul>
			</li>
			<% if !user_signed_in? %>
			<li> 
				<%=link_to "Login", new_user_session_path, :class => "nav-link" %>
			</li>
			<%else%>
			<li>
				<%=link_to "Dashboard", dashboard_path, :class => "nav-link" %>
			</li>
			<li>
				<%=link_to "Edit Profile", edit_user_registration_path, :class => "nav-link" %>
			</li>
			<li>
				<%=link_to "Logout", destroy_user_session_path, :method => :delete, :class => "nav-link" %>
			</li>
			
			<%end%>
		</ul>
	</div>

<p class="notice"><%= notice %></p>
<p class="alerts"><%= alert %></p>

<div class="content">
	<%= yield %>
</div>
	

</body>
</html>
